<div class="max-w-6xl mx-auto mt-10">
  <div class="flex items-center justify-between mb-6">
    <h2 class="text-2xl font-bold">Projeler</h2>

    <!-- sadece admin -->
    <div class="flex gap-2" *ngIf="auth.isAdmin()">
      <a routerLink="/admin/project-form" class="px-3 py-1 rounded bg-green-600 text-white hover:bg-green-700">
        Manuel Ekle
      </a>
      <button (click)="importGitHub()"
              class="px-3 py-1 rounded bg-blue-600 text-white hover:bg-blue-700">
        GitHub’dan İçe Aktar
      </button>
    </div>
  </div>

  <!-- loading skeleton -->
  <div *ngIf="loading" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="p-4 h-40 border rounded animate-pulse" *ngFor="let s of [1,2,3,4,5,6]"></div>
  </div>

  <div *ngIf="!loading && projects.length === 0" class="text-gray-500 italic">
    Henüz proje yok.
  </div>

  <!-- proje kartları -->
  <div *ngIf="!loading && projects.length > 0" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div *ngFor="let p of projects" class="p-4 border rounded-lg shadow hover:shadow-md transition">
      <div class="flex items-start gap-3">
        <img *ngIf="p.imageUrl"
             [src]="p.imageUrl"
             alt="cover"
             class="w-16 h-16 rounded object-cover border" />
        <div class="flex-1">
          <div class="font-semibold text-lg">{{ p.title }}
            <a class="mt-3 flex justify-end" *ngIf="auth.isAdmin()">
            <button (click)="deleteProject(p.id)"
                    class="px-3 py-1 rounded bg-red-600 text-white hover:bg-red-700">
              Sil
            </button>
          </a>
          </div>
          <div class="text-sm text-gray-600 line-clamp-3 mt-1">
            {{ p.description }}
          </div>
        </div>
      </div>

      <div class="mt-4 flex items-center justify-between">
        <a *ngIf="p.githubUrl"
           [href]="p.githubUrl"
           target="_blank"
           class="text-blue-600 underline">
          GitHub
        </a>
        <span class="text-xs text-gray-500">
          {{ p.createdAt | date:'mediumDate' }}
        </span>
      </div>
    </div>
  </div>
</div>